@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'SF UI Display', sans-serif;
}

body {
  overflow-y: scroll;
}

h4 {
  font-size: 18px;
  margin-bottom: 16px;
  color: #434652;
}
